<?xml version="1.0" encoding="utf-8"?>
<configuration>

	<configSections>
		<section name="System_Config" type="ConfigManager.SystemCFG, ConfigManager, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
	</configSections>

	<System_Config>
  <Regional Language="en-US" />
  <ErrLibCfg>
   <clear />
   <add ID="0" ErrLibEnUS="..\Config Section\Err Lib\Critical_ErrLib_en-US.Config"
    ErrLibZhHans="" ErrLibZhHant="" />
   <add ID="1" ErrLibEnUS="" ErrLibZhHans="..\Config Section\Err Lib\Critical_ErrLib_zh-Hans.Config"
    ErrLibZhHant="" />
   <add ID="2" ErrLibEnUS="" ErrLibZhHans="" ErrLibZhHant="..\Config Section\Err Lib\Critical_ErrLib_zh-Hant.Config" />
   <add ID="3" ErrLibEnUS="..\Config Section\Err Lib\Main_ErrLib_en-US.Config"
    ErrLibZhHans="" ErrLibZhHant="" />
  </ErrLibCfg>
  <Machine MachineName="GPS" SoftwareVersion="1.0.0.0" Copyright="Copyright © Greatech  2020"
   CompanyName="Greatech Integration Sdn Bhd" CompanyAddress="Plot 287(B) &amp; 287(C) Lengkok Kampung Jawa Satu, Bayan Lepas FIZ, Phase 3, Bayan Lepas,11900, Penang, Malaysia."
   CompanyTel="(604)-6463260" CompanyFax="(604)-6463261" CompanyEmail="info@greatech-group.com"
   CompanyWebsite="http://www.greatech-group.com" MachineModel="LFD-01"
   SerialNo="LFD-01-00001" MachineBuildDate="JULY/ 2019" Current="13A"
   LineVoltageVAC="1-Phase 200VAC" Frequency="50/60 Hz" PowerVA="4503VA"
   ContryOfOrigin="Malaysia" />
  <DigitalIO ClassName="PolarisIO" TotalIOCardNum="1" MaxPortNum="4"
   MaxBitPerPort="32" InputFileName="input.csv" OutputFileName="output.csv"/>
  <IOCards>
   <clear />
   <add ID="0" NumOfSetID="2" />
  </IOCards>
  <IOInDevices>
   <clear />
   <add ID="0" IOName="Moxa Input Card 1" DeviceAddress="192.168.0.11" MaxPortNum="16" />
   <add ID="1" IOName="Moxa Input Card 2" DeviceAddress="192.168.0.12" MaxPortNum="16" />
  </IOInDevices>
  <IOOutDevices>
   <clear />
   <add ID="0" IOName="Moxa Output Card 1" DeviceAddress="192.168.0.13" MaxPortNum="16" />
   <add ID="1" IOName="Moxa Output Card 2" DeviceAddress="192.168.0.14" MaxPortNum="16" />
  </IOOutDevices>
  <Motion ClassName="GalilMC" TotalAxisNum="4" />
  <MotionCards>
   <clear />
   <add ID="0" CardNo="0" DeviceAddress="192.168.0.20" />
  </MotionCards>
  <AdlinkMotion ClassName="AdlinkMC" />
  <ACSMotionControllers>
   <clear />
   <add ID="0" IsSimulator="true" DeviceAddress="192.168.0.100"
    Port="701" />
  </ACSMotionControllers>
  <Database ClassName="MySqlDb" />
  <FileLogger ClassName="Logger" FilePath="..\Log" />
  <FileLoggerFiles>
   <clear />
   <add ID="0" FolderName="Error" FileName="Erorr" Header="Description"
    FileExtension=".csv" />
   <add ID="1" FolderName="Event" FileName="Event" Header="Error|Description"
    FileExtension=".csv" />
   <add ID="2" FolderName="DataLog" FileName="Data" Header="Data"
    FileExtension=".log" />
  </FileLoggerFiles>
  <SerialPort ClassName="Serial_Port" />
  <SerialPortConnection>
   <clear />
   <add ID="0" DeviceName="Serial Port 1" PortName="COM10" Boundrate="19200" />
  </SerialPortConnection>
  <TCPIP ClassName="TCP_IP" />
  <TCPIPConnection>
   <clear />
   <add ID="0" DeviceName="TCP Server" IPAddress="128.0.0.1" Port="800"
    IsServer="true" AutoReconnect="false" />
   <add ID="1" DeviceName="TCP Client" IPAddress="127.0.0.1" Port="82"
    IsServer="false" AutoReconnect="false" />
  </TCPIPConnection>
  <MotionCfg FilePath="..\Config Section\Motion\GalilMotor.Config" />
  <TeachPointCfg FilePath="..\Config Section\Teach Point\TeachPoint.Config" />
  <Setting EnableVirtualKeyboard="false" EnableVirtualKeypad="true"
   LogFileDuration_Days="30" />
 </System_Config>
</configuration>